* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: auto;
  max-width: 900px;
}

#table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  background-color: #f4f4f4;
}

#table td {
  border-bottom: 1px solid #333;
  padding: 0.5rem;
}
#table th {
  border-bottom: 1px solid #333;
}

#table button {
  width: 100%;
  border: none;
  padding: 0.5rem;
  background-color: rgb(243, 114, 39);
}

#table button:focus {
  outline: none;
}

#table button.ascending::after {
  content: "\25BC";
  display: inline-block;
  padding-left: 1em;
}

#table button.descending::after {
  content: "\25B2";
  display: inline-block;
  padding-left: 1em;
}

#tableContainer {
  margin-top: 1rem;
}

#tableContainer .search {
  padding: 0.3rem;
  margin: 0.5rem 0;
}
